body, header, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body, html {
    height: 100vh;
    font-family: 'Press Start 2P', 'Arial';
}

body, #myHeader {
    transition: background-color 0.5s ease, color 0.5s ease;
}

a {
    text-decoration: none;
    color: black;
    color: inherit;
}

a:hover {
    color: #FCAC3F;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f3f3f3;
}

.logo {
    font-size: 30px;
    margin-left: 20px;
}

.logo-space {
    margin-left: 20px;
}

.lightbulb {
    font-size: 20px;
    padding: 10px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.resume-img, .project-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    border-radius: 20px;
    border: solid 3px #00B799;
    margin-top: 30px;
}

li {
    list-style-type: none;
    font-size: 12px;
    line-height: 1rem;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

.navItems {
    padding: 10px;
    text-align: center;
}

#navMenu {
    display: none;
}

#navMenu.active {
    display: flex;
}

#light-btn {
    border-radius: 90px;
    font-family: inherit;
    font-size: 18px;
    color: black;
    background-color: #FFAF00;
    cursor: pointer;
    padding: 10px;
    width: 70px;
    margin-right: 10px;

}

button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

.project-imgs-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    margin-bottom: 20px;
}

@media screen and (min-width: 800px){
    body, header {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    body, html {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: 'Press Start 2P', 'Arial';
    }

    .hamburger-menu {
        display: none;
    }

    #navMenu {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        margin: 0 20px;
    }

    .navItems {
        color: inherit;
    }

    #light-btn {
        border-radius: 50px;
        font-family: inherit;
        font-size: 10px;
        color: black;
        background-color: #FFAF00;
        cursor: pointer;
        padding: 10px;
        margin-right: 10px;
    }

    .project-imgs-con {
        flex-direction: row;
        justify-content: center;
    }

    .project-card {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .project-img {
        width: 400px; /* Fixed width for larger screens */
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f3f3f3;
    }

    .lightbulb {
        font-size: 20px;
    }

    
}
