/* Base styles (for mobile) */
/* Resetting margin and padding for nav and its parent elements */
header, nav, ul, li {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', 'Arial';
}

body, #myHeader {
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f3f3f3;
}

.logo-space {
    margin-left: 20px;
}

.logo {
    font-size: 30px;
    color: inherit;
}

p {
    font-size: 12px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "list";
    grid-template-columns: repeat(1fr);
}

.content-3 { 
    grid-area: list;
}

.content-1 {
    padding: 12px;
}


.logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.navItems {
    padding: 10px;
    text-align: center;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FCAC3F;
}

.profile-photo {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border: solid 3px #00B799;
}

.resume-button {  
    background-color: #00B799;
    border-radius: 40px;
    border: solid black 2px;
    min-width: 200px;
    min-height: 20px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.resume-button:hover {
    background-color: #0056b3;
}

#light-btn {
    border-radius: 90px;
    font-family: inherit;
    font-size: 18px;
    color: black;
    background-color: #FFAF00;
    cursor: pointer;
    padding: 10px;
    width: 70px;
}

.link-imgs-con{
    display: flex;
}

.link-img {
    max-width: 100px;
    margin: 10px;
    border: solid 2px #EF5BA1;
    border-radius: 10px;
}
/* /* Full Size Layout */
@media screen and (min-width: 800px){
    body, header {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    body, html {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: 'Press Start 2P', 'Arial';
    }
    
    nav ul {
        flex-direction: row;
    }

    .navItems {
        color: inherit;
    }
    
    #light-btn {
        border-radius: 50px;
        font-family: inherit;
        font-size: 10px;
        color: black;
        background-color: #FFAF00;
        cursor: pointer;
        padding: 10px;
    }

    .resume-button {
        position: absolute;
        top: 35%;
        right: 25%;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f3f3f3;
    }
    
    .lightbulb {
        font-size: 20px;
    }

    #light-btn {
        position: relative;
        top: -12px;
        left: 20px;
    }
    
    .grid-container {
        margin: 0 20px; 
        width: calc(100% - 40px); 
        display: grid;
        grid-template-areas: 
            "heading content"
            "list content";
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* padding: 20px; */
        height: calc(100vh - [HeaderHeight]px);
        width: 100vw;
        margin-left: 50px;
    }
    
    .grid-item {
        background-color: inherit; 
        padding: 20px;
        text-align: center;
    }
    
    .profile-photo {
        max-width: 400px;
        margin-top: 30px;
    }

    .content-1 {
        padding-top: 150px;
    }
    
    nav {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: inherit;
        margin-top: 30px;
    }
    
    nav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-right: 0;
    }
    
    button:hover {
        background-color: #0056b3; /* Darker shade for hover effect */
    }

    footer {
        margin-left: 30px;
    }

}
